# Ignorar carpetas de dependencias
node_modules/

# Ignorar archivos de entorno 
.env
.env.local
.env.development
.env.production

# Ignorar logs y temporales
*.log
temp/
tmp/

# Ignorar builds o dist 
build/
dist/

# Ignorar archivos de sistema
.DS_Store  # Para Mac

Thumbs.db  # Para Windows
